<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>setup device</title>
</head>

<body>

    <div>
        <form action="#" method="post">
            <tr>
                <td>
                    <label for="ipdevice">IP Address Device</label>
                </td>
                <td> <input type="text" name="ip" id="ipdevice" value="10.19.51.245">
                </td>

        </form>



    </div>
    <div>
        <!-- form for set up network -->
        <h1>Set Up Network 3-Phase System</h1>
        <form action="#" method="post">
            <table>
                <tr>
                    <td>
                        <label for="ssid">SSID</label>
                    </td>
                    <td> <input type="text" name="ssid" id="ssid" value="gajuma">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password</label>
                    </td>
                    <td> <input type="password" name="password" id="password" value="synaps1sjkt23@">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="mode">Network Mode</label>
                    </td>
                    <td>
                        <input type="radio" id="static" name="mode" value="static" checked>
                        <label for="static">Static</label>
                        <input type="radio" id="dhcp" name="mode" value="dhcp">
                        <label for="dhcp">DHCP</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="ip">IP Address</label>
                    </td>
                    <td> <input type="text" name="ip" id="ip" value="10.19.51.245">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="subnet">Subnet Mask</label>
                    </td>
                    <td> <input type="text" name="subnet" id="subnet" value="255.255.248.0">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="gateway">Gateway</label>
                    </td>
                    <td> <input type="text" name="gateway" id="gateway" value="10.19.50.1">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="dns">DNS</label>
                    </td>
                    <td> <input type="text" name="dns" id="dns" value="8.8.4.4">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td> <input type="submit" value="Submit">
                    </td>
                </tr>
            </table>
        </form>


        </form>

    </div>

</body>

</html>